{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}
{% block indexclass %} class="here" {% endblock %}

{% block head %} 
{{ block.super }}
<style>

.orange-light{
 background-color: #fdeada;
}

.orange-dark{
background-color: #fcd5b5;
}

.blue-dark {
  background-color: #b9cde5;
}

.blue-light{
  background-color: #dce6f2;
}

#headerbox {
  height: 70px;
  margin-top: 10px;
}

#logos-lk {
  margin-left: 30px;
}

#welcomebox {
  background-color: white;
  /*margin-left: 0;
  margin-right: 0;*/
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 510px;
}

#welcomebox img {
  max-width: 100%
}

#welcometext {
  margin-top:10px;
  text-align:justify;
}

#mapsspan {
  /*margin-left: 25px;*/
}

.boxtitle {
  color: white;
  float: left;
  margin-top: 15px;
}

.boxtext {
  text-align:justify;
  clear: right;
}

.boximage {
  float: right; 
  margin-top:15px;
  margin-bottom: 15px;
}

.boxform {
  padding-top: 15px;
}

.boxinput {
  float:left;
  margin-top:10px;
}

.boxbutton {
  float: right; 
  position: relative; 
  right: 10px;" 
}

#mapsbox {
  background-color: #e46c0a;
  min-height: 240px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


#dataspan {
  /*margin-left:8px;*/
}

#databox {
  background-color: #558ed5;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 240px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.minibox {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  min-height: 130px;
  margin-top: 5px;
}

.minibox > a {
  color: black;
  text-decoration: none;
}

.minibox:hover {
  opacity: 0.9;
  border: 2px solid black;
  padding: 8px;
}



</style>
{% endblock %}

{% block main %}

  <div class="span4" id="welcomebox">
     <h4>Welcome</h4>
     <img src="{{ STATIC_URL }}/img/welcome_map_image.png">
      <p id="welcometext">
      {% blocktrans %}
    Welcome to the Sri Lanka Disaster Risk Information Platform (RiskInfo). The purpose of RiskInfo is to make disaster risk information available to all the stakeholders and the public in order to facilitate disaster risk reduction and recovery efforts. The initiative is led by the Disaster Management Center (DMC) in partnership with UNDP, NGOs and GDFRR Labs. The data sharing platform is built using the open source software GeoNode that is designed to enable collaborative use of geospatial data and maps. To get in touch and get in account to upload data: riskinfo@dmc.gov.lk
      {% endblocktrans %} 
      </p>
  </div>
  <div class="span4" id="mapsspan">
    <div class="row">
      <div class="span4" id="mapsbox"> 
        <h4 class="boxtitle"> {% trans "MAPS" %} </h4>
        <img class="boximage" src="{{ STATIC_URL }}/img/Map_icon.png">
        <p class="boxtext"> 
          {% blocktrans %} 
          RiskInfo lets you compose and share maps.  <strong>Create</strong> a map with our cartography tool, or <strong>explore</strong> maps shared by others.
          {% endblocktrans %}
        </p>
        <div>
          <form action="{% url maps_search %}" method="POST" class="boxform">
            {% csrf_token %}
             <input class="input-large" type="text" class="boxinput" id="search_query_maps" name="q" />
             <button class="boxbutton btn small primary" type="submit" id="submit_search_maps">{% trans "Search" %}</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Looking for a way not to hardcode the URL-->
      <div class="span2 orange-light minibox clickableBox"> <a href="{% url maps_search %}">Hazard profile maps</a></div>
      <div class="span2 orange-dark minibox clickableBox"> <a href="http://www.riskinfo.lk/maps/2"> Administrative boundaries </a></div>
    </div>
    <div class="row">
      <div class="span2 orange-dark minibox clickableBox"><a href="{% url maps_search %}"> Explore maps </a> </div>
      <div class="span2 orange-light minibox"> Create a new map 
        <form action="{% url maps_new %}" method="POST" class="boxform">
          {% csrf_token %}
          <button class="miniboxbutton btn small primary" type="submit" id="submit_search">{% trans "Create map" %}</button>
        </form>
      </div>
    </div>
  </div>
  <div class="span4" id="dataspan">
     <div class="row">
      <div class="span4" id="databox">
        <h4 class="boxtitle"> {% trans "DATA" %} </h4>
        <img class="boximage" src="{{ STATIC_URL }}/img/Data_icon.png">
        <p class="boxtext">RiskInfo lets you upload, manage, and browse data. <strong>Search</strong> for data that is valuable to you, or <strong>upload</strong> your own data.</p>
        <form action="{% url data_search %}" method="POST" class="boxform">
      {% csrf_token %}
       <input class="input-large" type="text" class="boxinput" id="search_query" name="q" />
       <button class="boxbutton btn small primary" type="submit" id="submit_search">{% trans "Search" %}</button>
    </form>
      </div>
    </div>
    <div class="row">
      <!-- Looking for a way not to hardcode the URL-->
      <div class="span2 blue-light minibox clickableBox"><img width="50" height="50" src="{{ STATIC_URL }}/img/tsunami.png"><a href="{% url data_search %}?q=hazard"> Hazard data </a><img style="float:left" width="50" height="50" src="{{ STATIC_URL }}/img/flood.png"><img style="float:left" width="50" height="50" src="{{ STATIC_URL }}/img/cyclone.png"></div>
      <div class="span2 blue-dark minibox clickableBox"> <a href="{% url data_search %}?q=exposure">Exposure data </a></div>
    </div>
    <div class="row">
      <div class="span2 blue-dark minibox clickableBox"> <a href="{% url data_search %}?q=base"> Base data </a></div>
      <div class="span2 blue-light minibox clickableBox"> <a href="{% url data_search %}"> View all data </a> </div>
    </div> 
  </div>
{% endblock %}
{% block sidebar %}
{% endblock %}
